@use "../utils";

.hero {
    background-image: url("/src/assets/images/hero-background-resized.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;

    @include utils.desktop-only {
        padding-bottom: 80px;
    }
}

.hero__content {
    width: 85%;
    margin: 50px auto 0 auto;  

    @include utils.desktop-only {
        display: flex;
        width: 85%;
        max-width: 1500px;
        justify-content: center;
        gap: 40px;
    }

    @include utils.big-desktop-only {
        width: 74%;
    }
}

.card__container {
    @include utils.desktop-only {
        width: 55%;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        align-items: center;
    }
}

.hero__card {
    width: 90%;
    height: 200px;
    margin: 0 auto 50px auto;
    background-color: rgba(255, 254, 254, 0.075);
    backdrop-filter: blur(1.5px);
    border: 2px solid utils.$color-primary;
    text-align: center;
    padding: 25px 25px 0;

    @include utils.desktop-only {
        width: calc(50% - 20px);
        height: auto;
        aspect-ratio: 1 / 1;
        margin: 0;
        margin-top: 0;
        padding: 0px 25px 0px 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.hero__card p {
    @include utils.desktop-only {
        font-size: 0.7rem;
    }
    
    @include utils.big-desktop-only {
        font-size: 1rem;
    }
}

.hero__card--contact-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    section {
        margin-top: 13px;

        a {
            color: utils.$color-primary;
            margin-left: 2rem;
            text-align: left;

            @include utils.desktop-only {
                font-size: 0.7rem;
            }
            
            @include utils.big-desktop-only {
                font-size: 1rem;
            }
        }
    }
}

.hero__card section {
    display: flex;
    justify-content: center;
}

.hero__icon {
    height: 1.5rem;
    width: 1.5rem;

    @include utils.desktop-only {
        font-size: 1.2vw;
    }
}

.hero__icon--clock {
    @include utils.desktop-only {
        margin: 0 auto;
    }
}

.hero__card--map-link {
    margin-top: 13px;
}

.hero__card--socials {
    section {
        gap: 1.5rem;
    }

    .hero__icon {
        @include utils.desktop-only {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}

// Doesn't need desktop settings
.hero__image {
    object-fit: cover;
    width: 40%;
    aspect-ratio: 3/4;
    border: 2px solid utils.$color-primary;
}