@use "../utils";

.info-soin {
    background-color: utils.$bkg-secondary;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;

    @include utils.desktop-only {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.info-soin h2 {
    margin: 0px auto 20px auto;

    @include utils.desktop-only {
        margin: 0px auto 50px auto;
        font-size: 1.9rem;
    }
}

.card-container {
    @include utils.desktop-only {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 85%;
        justify-content: center;
    }
}

.card-with-modal {
    width: 85%;
    height: 4rem;
    margin: 20px auto;
    border: solid 2px utils.$color-primary;
    cursor: pointer;
    background-color: rgba(255, 254, 254, 0.051);
    transition: all 0.5s;
    color: utils.$color-primary;

    &:hover {
        background-color: rgba(255, 255, 255, 0.236);
    }

    @include utils.desktop-only {
        width: 20vw;
        margin: 20px 20px;
        height: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 1.5rem;
    }
}