@use "../utils";

.le-salon {
    text-align: center;
}

.le-salon h2  {
    @include utils.desktop-only {
        margin-bottom: 70px;
        font-size: 1.9rem;
    }
}

.le-salon__container img {
    width: 85%;
    margin-bottom: 40px;
    border: 2px solid utils.$color-primary;

    @include utils.desktop-only {
        width: 20vw;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.le-salon__container p {
    margin-top: 0;
}